body{
    text-align: start;
    background-color: #1C2430;
    border: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

h1{
    color: #DCDDE1;
    margin: 0;
    border: 0;
    font-weight: bolder;
}

#h2{
    color: #12B078;
    margin: 0;
    border: 0;
}

p{
    color: #828794;
    margin-top: 10px;
    margin-bottom: 20px;
}

#Generate{
    background-color: #12B078;
    color: #DCDDE1;
}

button{
    width: 150px;
    padding: 6px 12px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
}

button:hover{
    width: 160px;
    
}

.password{
    background-color: #1E2937;
    color: #12B078;
    width: 150px;
    

}

#password1{
    margin-right: 10px;
}

#password2{
    margin-left: 10px;
}

#line{
    height: 1px;
    background-color: #828794;
    margin: 20px 0;
}